<h1>Welcome to the about page</h1>
<p>
Steven Allan Spielberg born December 18, 1946 is an American film director, producer, and screenwriter. 
He began his career in the New Hollywood era and is currently the most commercially successful director.
 Spielberg is the recipient of various accolades, including three Academy Awards (with two for Best Director), a Kennedy Center honor, a Cecil B. DeMille Award, and an AFI Life Achievement Award.
</p>